@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body{
    background-color: #F1F1F3;
}

/* ==================== utility classes =================== */
.container{
    max-width: 1300px;
    margin: 0 auto;
    border: 2px solid royalblue;
}

.text-color {
    color: #0E0E0E;
    opacity: 50%;
}
p{
    color: #0E0E0E;
    opacity: 85%;
    font-size: 16px;
}
pre{
    color: #0E0E0E;
    opacity: 85%;
    font-size: 16px;
}
h2{
    font-size: 33px;
}
h4{
    font-size: 18px;
    margin: 20px 0;
}
.primary-btn{
    background-color: #006A50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}

.UI{
    margin-bottom: 5rem;
}
/* ==================== navbar styling =================== */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
}

.navbar h3{
    font-size: 32px;
}

.nav-btn{
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #006A50;
    color: #006A50;
    font-size: 18px;
}
/* ==================== hero section styling =================== */

.hero{
    width: 1300px;
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left h1{
    font-size: 56px;
    margin: 20px 0;
    width: 622px;
}

/* ==================== piller section styling =================== */

.pillers{
    width: 100%;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.piller-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.piller-card{
    background-color: #fff;
    width: 302px;
    height: 244px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

/* ==================== Future section styling =================== */

.future{
    width: 100%;
    height: 500px;
}
.future p{
    margin: 1.5rem 0;
}
.future-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.future-card{
    width: 411px;
    height: 325px;
    background-color: #D5E1F5;
    border-radius: 10px;
    padding: 32px;
}
.future-2nd-card{
    background-color: #C6E4D6;
}

.future-3rd-card{
    background-color: #F7EBCF;
}
.future-btn{
    background-color: #5490F5;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}
/* ==================== news section styling =================== */

.news{
    width: 100%;
    height: 1406px;
}

.news-card{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 48px;
    height: 402px;
    margin: 2rem 0;
}

.news-card-left img{
    border-radius: 20px;
}

.news-card-right{
    height: 290px;
}
.news-card-right h3{
    font-size: 25px;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 1rem;
}

.news-card-right img{
    margin-bottom: 1rem;
}

.news-card-right pre{
    margin-bottom: 1rem;
}
.news-card-right p{
    margin-bottom: 2.5rem;
}
.discription{
    margin-top: 2rem;
}

.reverse{
    flex-direction: row-reverse;
}